---
import PageLayout from '@layouts/PageLayout.astro';
import Pagination from '@components/Pagination.astro';
import PostItem from '@components/PostItem.astro';
import { Frontmatter } from '@shared/frontmatter.interface';
import { format } from 'date-fns';
import { sortBy } from 'lodash-es';

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob<Frontmatter>('./**/*.md');
  allPosts = sortBy(allPosts, ['frontmatter.date']).reverse();
  return paginate(allPosts, { pageSize: 10 });
}

const { page } = Astro.props;
const content = {
  title: 'Blog'
}
---

<PageLayout {content}>
  <div class="flex items-baseline">
    <h1>Blog</h1>
    <span class="text-2xl text-slate-300 mx-4">/</span>
    <span class="text-2xl text-slate-300">Page {page.currentPage} of {page.lastPage}</span>
  </div>

  <ol class="list-none p-0 lg:p-0 not-prose grid grid-cols-3 gap-x-8 gap-y-12">
    {page.data.map(post => (
      <li>
        <PostItem 
          title={post.frontmatter.title}
          url={post.url}
          thumbnail={post.frontmatter.thumbnail}
          date={post.frontmatter.date}
        />
      </li>)
    )}
  </ol>

  <Pagination next={page.url.next} prev={page.url.prev} />
</PageLayout>
