---
import PageLayout from '@layouts/PageLayout.astro';
import Pagination from '@components/Pagination.astro';
import PublishedDate from '@components/PublishedDate.astro';

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob<MarkdownFrontmatter>('./**/*.md');
  allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
  return paginate(allPosts, { pageSize: 10 });
}

interface MarkdownFrontmatter {
  title: string;
  date: Date;
  thumbnail: string;
  description: string;
}

const { page } = Astro.props;
const content = {
  title: 'Blog'
}
---

<PageLayout {content}>
  <div class="flex items-baseline">
    <h1>Blog</h1>
    <span class="text-2xl text-slate-300 mx-4">/</span>
    <span class="text-2xl text-slate-300">Page {page.currentPage} of {page.lastPage}</span>
  </div>

  <ol class="list-none p-0 lg:p-0">
    {page.data.map(post => (
      <li>
        <article class="p-0 lg:flex mb-24">
          <div class="lg:w-2/5 shrink-0 grow-0 not-prose">
            <a href={post.url}>
              <img src={post.frontmatter.thumbnail} alt={post.frontmatter.title} />
            </a>
          </div>
          <div class="lg:ml-6">
            <h2 class="mb-2 mt-4 lg:mt-0 lg:mb-2 lg:text-2xl not-prose">
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <div class="text-sm">
              <PublishedDate date={post.frontmatter.date} />
            </div>
            <p>{post.frontmatter.description}</p>
            <a href={post.url} class="block text-right text-base">Read more »</a>
          </div>
        </article>
      </li>)
    )}
  </ol>

  <Pagination next={page.url.next} prev={page.url.prev} />
</PageLayout>
