---
import PageLayout from '@layouts/PageLayout.astro';
import Pagination from '@components/Pagination.astro';
import PostItem from '@components/PostItem.astro';
import { Frontmatter } from '@shared/frontmatter.interface';
import { sortBy } from 'lodash-es';

export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob<Frontmatter>('./**/*.md');
  allPosts = sortBy(allPosts, ['frontmatter.date']).reverse();
  return paginate(allPosts, { pageSize: 100 });
}

const { page } = Astro.props;
const content = {
  title: 'Blog'
}
---

<PageLayout {content} notProse={true}>
  <div class="flex items-baseline mb-8 container mx-auto">
    <h1 class="text-5xl font-bold">Blog</h1>
    <span class="text-2xl text-slate-300 mx-4">/</span>
    <span class="text-2xl text-slate-300">Page {page.currentPage} of {page.lastPage}</span>
  </div>

  <ol class="list-none p-0 lg:p-0 not-prose grid gap-12 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-20 lg:gap-y-32 container mx-auto">
    {page.data.map(post => (
      <li class="text-3xl">
        <PostItem 
          title={post.frontmatter.title}
          url={post.url}
          thumbnail={post.frontmatter.thumbnail}
          date={post.frontmatter.date}
          description={post.frontmatter.description}
        />
      </li>)
    )}
  </ol>

  <Pagination next={page.url.next} prev={page.url.prev} />
</PageLayout>
