---
import { format } from 'date-fns';

import PageLayout from '@layouts/PageLayout.astro';
import Pagination from '@components/Pagniation.astro';
import PublishedDate from '@components/PublishedDate.astro';

export async function getStaticPaths({ paginate }) {
  let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./**/*.md');
  allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

  return paginate(allPosts, { pageSize: 10 });
}

interface MarkdownFrontmatter {
  title: string;
  date: Date;
  url: string;
}

const { page } = Astro.props;
const content = {
  title: 'Blog'
}
---

<PageLayout {content}>
  <div class="flex items-baseline">
    <h1>Blog</h1>
    <span class="text-2xl text-slate-300 mx-4">/</span>
    <span class="text-2xl text-slate-300">Page {page.currentPage} of {page.lastPage}</span>
  </div>

  <ol class="list-none p-0">
    {page.data.map(post => (
      <li>
        <h2 class="mb-2">
          <a href={post.url}>{post.title}</a>
        </h2>
        <PublishedDate date={post.date} />
      </li>)
    )}
  </ol>

  <Pagination next={page.url.next} prev={page.url.prev} />
</PageLayout>