---
import { format } from 'date-fns';

export interface Props {
  url: string;
  title: string;
  date: Date;
  thumbnail?: string;
  description?: string;
}
const { url, title, thumbnail, date, description } = Astro.props as Props;
---

<article>
  <a href={url} class="no-underline hover:text-green-600 block">
    {thumbnail &&
    <img class="object-cover aspect-[3/2] w-full" src={thumbnail} alt={title} width="300" height="200">
    }
    {!thumbnail &&
    <div class="border w-full h-28 max-h-48 text-sm flex justify-center items-center text-slate-300">no thumbnail</div>
    }
    <div class="font-bold font-headings leading-tight mt-[1em]">{title}</div>
  </a>
  {date &&
  <time class="text-sm text-slate-600" datetime={date.toString()}>
    {format(new Date(date), 'PPP')}
  </time>
  }
  {description &&
  <p class="text-base mt-4">{description}</p>
  }
</article>
