---
import { getCollection } from 'astro:content';
import { intersection, sampleSize } from "lodash-es";
import PostItem from "@components/PostItem.astro";

const allPosts = await getCollection('blog');
const { tags, currentPathname } = Astro.props;

const allRelatedPosts = allPosts
  .filter(post => !currentPathname.includes(post.data.url))
  // sort posts by most recent first
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() -
      new Date(a.data.pubDate).valueOf()
  )
  // filter to posts with only matched tags with the current post
  .filter((post) => {
    const matchedTags = intersection(tags, post.data.tags);
    return matchedTags.length > 0;
  });

const relatedPosts = sampleSize(allRelatedPosts, 3);
---

{
  relatedPosts.length > 0 && (
    <section class="mt-20 not-prose">
      <h4 class="text-sm text-slate-600 uppercase tracking-widest font-bold mb-4">
        Related posts
      </h4>
      <ul class="grid grid-cols-3 gap-x-8">
        {relatedPosts.map((post) => (
          <PostItem
            url={post.slug}
            pubDate={post.data.pubDate}
            title={post.data.title}
            thumbnail={post.data.thumbnail}
            isRelatedPost={true}
          />
        ))}
      </ul>
    </section>
  )
}
