---
import '@fontsource/noto-serif-thai/latin-400.css';
import '@fontsource/noto-serif-thai/thai-400.css';
import '@fontsource/noto-serif-thai/latin-700.css';
import '@fontsource/noto-serif-thai/thai-700.css';
import '@fontsource/ibm-plex-sans-thai/thai-700.css';
import '@fontsource/ibm-plex-sans-thai/latin-700.css';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';
import GlobalStyle from '@components/GlobalStyle.astro';

const { frontmatter, isPost } = Astro.props;
const { title, description, thumbnail, language } = frontmatter;

const classes = 'mt-20 mx-auto pb-24 prose prose-slate main';
---
<html lang={language ? language : 'th'}>
	<head>
		<BaseHead {title} {description} {thumbnail} />
    <GlobalStyle />
	</head>
	<body class="antialiased">
		<Header />
    {isPost &&
		<article class={classes}>
      <slot name="post-header" />
      <slot />
    </article>
    }

    {!isPost &&
		<main class={classes}>
      <slot />
    </main>
    }
    <Footer />
	</body>
</html>
