---
import PublishedDate from '@components/PublishedDate.astro';
import RelatedPosts from '@components/RelatedPosts.astro';
import PageLayout from './PageLayout.astro';

const { content } = Astro.props;
const { title, pubDate } = content;
const canonicalURL = Astro.url;
---

<PageLayout { content } isPost={true}>
  <h1 class="text-4xl lg:text-5xl leading-tight lg:leading-tight">{title}</h1>
  <PublishedDate {pubDate} />
  <slot />
  <RelatedPosts tags={content.tags} currentPathname={canonicalURL.pathname} />
</PageLayout>
